<div class="main">
  <div class="inner">
    <div class="form__wrapper">
     
      
   <%= form_with model: @cheat, local: true do |f|%>
 

   

  <div class="field">
    <%= f.label :name, "name" %><br />
    <%= f.text_area :name, class: :form__text, id:"cheat_concept" %>
  </div>

  <div class="field">
    <%= f.label :image, "eat" %><br />
    <%= f.file_field :image, id:"cheat_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
  <% end %>
    </div>
  </div>
</div>