<!DOCTYPE html>
<html>
  <head>
    <title>Eat1008</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <body>

 <header class="header">
  <div class="header__inner">
   <div class="header__title">
    <h1>Cheat</h1>
     </div>
     </div>
  
  </div>
 </header>
 <%= yield %>
 
</body>
</html>
